# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# dotenv environment files (si los usas)
.env
.env.local
.env.*.local

# VSCode settings (opcional, si quieres ignorarlos)
.vscode/

# SASS cache
.sass-cache/

# Mac system files
*.swp

# Cache
.cache/
